<link rel="stylesheet" href="generalStyles.css">
<link rel="stylesheet" href="repairsStyles.css">


<h1>The Bike Shop</h1>
<!--Page Header with links to other pages-->
  <ul>
  <li style=" float: left;"><a href="index">Home</a></li>
   <li style=" float: left;"><a href="repairs">Repair Jobs</a></li>
   <li style=" float: left;"><a href="customers">Customers</a></li>
   <li style=" float: left;"><a href="parts">Manage Parts Inventory</a></li>
   <li style=" float: left;"><a href="bikes">Serviceable Bike Models Tracker</a></li>
   <li style=" float: left;"><a href="employees">Employees</a></li>
  </ul>

<h2>Manage Repair Jobs</h2>
<!-- New Entry !-->
  <form id="repair-insert-form" >
    <label for="name">Repair Type:
  <input type="text" name="repairType" id="repairType"></label>
  <br></br>
  <label for="date">Done Date Desired:
  <input type="date" name="doneDateDesired" id="doneDateDesired"></label>
  <br></br>
  <label for="customerId">Customer ID:</label>
  <div class="select">
  <select name="customerId" id="customerId">
      {{#each results}}
        <option>{{this.customerId}}</option>
    {{/each}}
  </select>
  </div>
  <br></br>
    <label for="bikeId">Bike ID:</label>
  <div class="select">
  <select name="bikeId" id="bikeId">
      {{#each result3}}
        <option>{{this.bikeId}}</option>
    {{/each}}
  </select>
  </div>
  <br></br>
    <label for="employeeId">Employee ID:</label>
    <div class="select">
  <select name="employeeId" id="employeeId">
      {{#each result2}}
        <option>{{this.employeeId}}</option>
    {{/each}}
  </select>
  </div>
  <br><br>
  <input type="submit" value="Submit" class="button">
 </form>
 <br></br>
<!--Search Repair Jobs by repairType
-->
<!---stackoverflow.com-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../JS/jquery.typeahead.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
    $('input.typeahead').typeahead({
    name: 'typeahead',
    remote: 'http://localhost:2727/search?key=%QUERY',
    limit: 10
    });
    });
</script>

<form method="POST" action="/search"> 
<label>Search by Repair Type...</label>
<input class="typeahead tt-query" spellcheck="false" autocomplete="off" name="typeahead" type="text" />
<br></br> 
 <input type="submit" value="Search" class="button">
 <br></br>
</form>
<!---stackoverflow END-->
<!---<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Repair Type...">
-->
<table id="myTable"> 
<thead>
  <tr class="header">
    {{#each result4.[0]}}
      <th>{{@key}}</th>
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each result4}}
    <tr>
    	{{#each this}}
        <td>{{this}}</td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>
</table>

<script src="repairsScript.js"></script>